<div class="container mx-auto p-6">
  <h2 class="text-2xl font-bold mb-6 text-center">Ajouter une Catégorie</h2>
  <form [formGroup]="categoryForm" (ngSubmit)="addCategory()" class="space-y-4">

    <!-- Name Input -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Nom</span>
      </label>
      <input type="text" placeholder="Nom" class="input input-bordered w-full" formControlName="name"/>
      <div class="text-red-500 text-sm mt-1" *ngIf="categoryForm.get('name')?.hasError('required')">
        Ce champ est requis !
      </div>
    </div>

    <!-- Description Input -->
    <div class="form-control">
      <label class="label">
        <span class="label-text">Description</span>
      </label>
      <input type="text" placeholder="Description" class="input input-bordered w-full" formControlName="description"/>
      <div class="text-red-500 text-sm mt-1" *ngIf="categoryForm.get('description')?.hasError('required')">
        Ce champ est requis !
      </div>
    </div>

    <!-- Submit Button -->
    <div class="form-control mt-6">
      <button class="btn btn-primary w-full" type="submit">Ajouter la Catégorie</button>
    </div>

  </form>
</div>
