<!-- Login -->
<section class="section-login py-[100px] max-[1199px]:py-[70px]">
  <div class="flex flex-wrap justify-between relative items-center mx-auto min-[1600px]:max-w-[1500px] min-[1400px]:max-w-[1320px] min-[1200px]:max-w-[1140px] min-[992px]:max-w-[960px] min-[768px]:max-w-[720px] min-[576px]:max-w-[540px]">
    <div class="w-full flex flex-wrap hidden">
      <div class="w-full px-[12px]">
        <div class="mb-[30px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
          <div class="cr-banner mb-[15px] text-center">
            <h2 class="font-Manrope text-[32px] font-bold leading-[1.2] text-[#2b2b2d] max-[1199px]:text-[28px] max-[991px]:text-[25px] max-[767px]:text-[22px]">Login</h2>
          </div>
          <div class="cr-banner-sub-title w-full">
            <p class="max-w-[600px] m-auto font-Poppins text-[14px] text-[#212529] leading-[22px] text-center max-[1199px]:w-[80%] max-[991px]:w-full">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
              ut labore lacus vel facilisis. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex flex-wrap">
      <div class="w-full px-[12px]">
        <div class="cr-login max-w-[400px] m-auto p-[30px] bg-[#fff] border-[1px] border-solid border-[#e9e9e9] rounded-[5px]" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
          <div class="form-logo w-full mb-[30px] flex items-center justify-center">
            <img src="assets/img/logo/logo.png" alt="logo">
          </div>
          <form [formGroup]="loginForm" class="cr-content-form" (ngSubmit)="onSubmit()">
            <div class="form-group mb-[24px]">
              <label class="mb-[9px] text-[#444] text-[15px] font-medium tracking-[0] leading-[1] inline-block">Email Address*</label>
              <input
                type="email"
                formControlName="email"
                placeholder="Enter Your Email"
                class="cr-form-control w-full py-[0.575rem] px-[0.75rem] block text-[16px] font-normal leading-[1.5] text-[#000] border-[1px] border-solid border-[#e9e9e9] outline-[0] appearance-none rounded-[5px]"
              >
              <div *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched" class="error">
                Email is required.
              </div>
              <div *ngIf="loginForm.get('email')?.hasError('email') && loginForm.get('email')?.touched" class="error">
                Please enter a valid email address.
              </div>
            </div>

            <div class="form-group mb-[24px]">
              <label class="mb-[9px] text-[#444] text-[15px] font-medium tracking-[0] leading-[1] inline-block">Password*</label>
              <input
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
                placeholder="Enter Your password"
                class="cr-form-control w-full py-[0.575rem] px-[0.75rem] block text-[16px] font-normal leading-[1.5] text-[#000] border-[1px] border-solid border-[#e9e9e9] outline-[0] appearance-none rounded-[5px]"
              >
              <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="error">
                Password is required.
              </div>
            </div>

            <div *ngIf="errorMessage" class="error text-red-500 mb-4">
              {{ errorMessage }}
            </div>

            <div class="login-buttons text-center flex justify-between items-center flex-wrap">
              <button type="submit" [disabled]="loginForm.invalid" class="cr-button transition-all duration-[0.3s] ease-in-out mr-[15px] py-[8px] px-[20px] h-[40px] text-[14px] font-Manrope font-bold capitalize leading-[1.2] bg-[#64b496] text-[#fff] border-[1px] border-solid border-[#64b496] rounded-[5px] flex items-center justify-center hover:bg-[#000] hover:border-[#000]">
                Login
              </button>
              <a routerLink="/signup" routerLinkActive="active" class="link py-[8px] text-[#777]">Signup?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

