<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
  <div class="navbar bg-slate-50">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"/>
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a routerLink="/home" >Home</a></li>
          <li>
            <a href="#">Journals</a>
            <ul class="p-2">
              <li><a href="#">Nature</a></li>
              <li><a href="#">Nature Communications</a></li>
              <li><a href="#">Scientific Reports</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Research Areas</a>
            <ul class="p-2">
              <li><a href="#">Biology</a></li>
              <li><a href="#">Physics</a></li>
              <li><a href="#">Chemistry</a></li>
              <li><a href="#">Medicine</a></li>
            </ul>
          </li>
          <li><a href="#">News & Views</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost text-xl">{{ title }}</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a routerLink="/home">Home</a></li>
        <li>
          <details>
            <summary>SciPub</summary>
            <ul class="p-2">
              <li><a href="#">Papers</a></li>
              <li><a href="#">Videos</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Research Areas</summary>
            <ul class="p-2">
              <li><a href="#">Biology</a></li>
              <li><a href="#">Physics</a></li>
              <li><a href="#">Chemistry</a></li>
              <li><a href="#">Medicine</a></li>
            </ul>
          </details>
        </li>
        <li><a href="#">News & Views</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#" class="text-amber-500">Track my order</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <a class="btn" routerLink="/signup" routerLinkActive="active">Sign Up</a>
      <a class="btn" routerLink="/login" routerLinkActive="active">Log In</a>
    </div>
  </div>
</div>
<div *ngIf="isAdminLoggedIn">
  <div class="navbar bg-slate-50">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"/>
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a routerLink="/home">Home</a></li>
          <li>
            <a href="#">Journals</a>
            <ul class="p-2">
              <li><a href="#">Nature</a></li>
              <li><a href="#">Nature Communications</a></li>
              <li><a href="#">Scientific Reports</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Research Areas</a>
            <ul class="p-2">
              <li><a href="#">Biology</a></li>
              <li><a href="#">Physics</a></li>
              <li><a href="#">Chemistry</a></li>
              <li><a href="#">Medicine</a></li>
            </ul>
          </li>
          <li><a href="#">News & Views</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost text-xl">{{ title }}</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="#">Home</a></li>
        <li>
          <details>
            <summary>SciPub</summary>
            <ul class="p-2">
              <li><a href="#">Papers</a></li>
              <li><a href="#">Videos</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Research Areas</summary>
            <ul class="p-2">
              <li><a href="#">Biology</a></li>
              <li><a href="#">Physics</a></li>
              <li><a href="#">Chemistry</a></li>
              <li><a href="#">Medicine</a></li>
            </ul>
          </details>
        </li>
        <li><a href="#">News & Views</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            class="card card-compact dropdown-content bg-base-100 z-[1] mt-3 w-52 shadow">
            <div class="card-body">
              <span class="text-lg font-bold">8 Items</span>
              <span class="text-info">Subtotal: $999</span>
              <div class="card-actions">
                <button class="btn btn-primary btn-block">View cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown dropdown-end">
          <a class="btn" routerLink="#" routerLinkActive="active">Admin settings</a>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
            <li>
              <a class="justify-between" routerLink="/admin/dashboard">
                Dashboard
              </a>
            </li>
            <hr>
            <li><a routerLink="/admin/orders" routerLinkActive="active">Orders</a></li>
            <li><a routerLink="/admin/product" routerLinkActive="active">Products</a></li>
            <li><a routerLink="/admin/category" routerLinkActive="active">Categories</a></li>
            <li><a  routerLink="/admin/analytics" routerLinkActive="active">Show analytics</a></li>
            <li><a routerLink="/admin/post-coupon" routerLinkActive="active">Share a coupon</a></li>
            <li><a routerLink="/admin/coupons" routerLinkActive="active">Coupon list</a></li>
            <hr>
            <li><a routerLinkActive="active" (click)="logout()">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-slate-50" *ngIf="isCustomerLoggedIn">
  <div class="navbar bg-slate-50">
    <div class="navbar-start">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"/>
          </svg>
        </div>
        <ul
          tabindex="0"
          class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li><a href="#">Home</a></li>
          <li>
            <a href="#">Journals</a>
            <ul class="p-2">
              <li><a href="#">Nature</a></li>
              <li><a href="#">Nature Communications</a></li>
              <li><a href="#">Scientific Reports</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Research Areas</a>
            <ul class="p-2">
              <li><a href="#">Biology</a></li>
              <li><a href="#">Physics</a></li>
              <li><a href="#">Chemistry</a></li>
              <li><a href="#">Medicine</a></li>
            </ul>
          </li>
          <li><a href="#">News & Views</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <a class="btn btn-ghost text-xl">{{ title }}</a>
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="#">Home</a></li>
        <li>
          <details>
            <summary>SciPub</summary>
            <ul class="p-2">
              <li><a href="#">Papers</a></li>
              <li><a href="#">Videos</a></li>
            </ul>
          </details>
        </li>
        <li>
          <details>
            <summary>Research Areas</summary>
            <ul class="p-2">
              <li><a href="#">Biology</a></li>
              <li><a href="#">Physics</a></li>
              <li><a href="#">Chemistry</a></li>
              <li><a href="#">Medicine</a></li>
            </ul>
          </details>
        </li>
        <li><a href="#">News & Views</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="navbar-end">
      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <div class="indicator">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"/>
              </svg>
              <span class="badge badge-sm indicator-item">8</span>
            </div>
          </div>
          <div
            tabindex="0"
            class="card card-compact dropdown-content bg-base-100 z-[1] mt-3 w-52 shadow">
            <div class="card-body">
              <span class="text-lg font-bold">8 Items</span>
              <span class="text-info">Subtotal: $999</span>
              <div class="card-actions">
                <button class="btn btn-primary btn-block" routerLink="/customer/cart" routerLinkActive="active">View cart</button>
              </div>
            </div>
          </div>
        </div>
        <div class="dropdown dropdown-end">
          <a class="btn" routerLink="#" routerLinkActive="active">Actions</a>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
            <li>
              <a class="justify-between" routerLink="/customer/dashboard">
                Dashboard
              </a>
            </li>
            <hr>
            <li><a href="#">Profil</a></li>
            <li><a routerLink="/customer/my_orders" routerLinkActive="active">Orders</a></li>
            <li><a routerLink="/customer/wishlist" routerLinkActive="active">Whishlist</a></li>
            <hr>
            <li><a routerLinkActive="active" (click)="logout()">Log Out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

